
#about-banner {
    display: flex;
    padding: 72px 20px;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    min-height: 100vh;
}


.About-content h1 {  
    font-size: 36px; 
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    top: 40%;
    left: 18%;    
    }
      
    .About-content p {
        margin: 14px 0;
        gap: 5px;
        font-family:Arial, Helvetica, sans-serif;
        position: absolute;
        top:60%;
        left: 9%; 
        width: 35%;
    }
    .About-content .btn-container {
        display: flex;
        gap: 10px;
        position: absolute;
        top: 90%;   
        left: 19%;
        
    }
    .hero-image img {
        border-radius: 50%;
        position: absolute;
        top:40%;
        right:9%;
        height: 400px;
        width: 400px;
    }

     
    @media only screen and (max-width: 768px) {
        .About-content h1 {  
            font-size: 40px; 
            font-family:'Times New Roman', Times, serif;
            position: absolute;
            top:25%;
            left: 26%;    
            }
              
            .About-content p {
                font-family:Arial, Helvetica, sans-serif;
                font-size: 18px;
                max-width: 100%;
                text-align: justify;

            
            }
            .About-content .btn-container {
                display: flex;
                gap: 10px;
                position: absolute;
                top: 85%;   
                left: 33%;
            }
            .hero-image img {
                left: 100%;
            }
    }
    