
.primary-button {
    background: rgb(105, 22, 22);
    padding: 10px 15px;
    border: 1px solid transparent;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    box-shadow: 0 2px 10px rgba(3, 3, 3, 3);
    font-size: 16px;
    
}

  
.primary-button:hover {
  background: rgb(218, 165, 32);
  color: rgb(0, 0, 0);
  transform: scale(1.09);
  transition: all ease 0.5s;
  box-shadow: 0 4px 20px rgba(3, 3, 3, 3);
  
}

.secondary-button {
  background: transparent;
  border: 1px solid rgb(46, 31, 31);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
 
  box-shadow: 0 2px 10px rgba(3, 3, 3, 3);
  font-size: 16px;
  padding: 10px 15px;
  
 


}

.secondary-button:hover {
  background: rgb(48, 10, 10);
  color:rgb(218, 165, 32);
  transform: scale(1.09);
  transition: all ease 0.5s;
  box-shadow: 0 2px 10px rgba(3, 3, 3, 3);

  
}

