
.card {
    width: 80%;
    border: 2px solid rgb(37, 18, 7);
    border-radius: 16px;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    box-shadow: 0 4px 20px rgba(3, 3, 3, 3);
    margin-top: 50px;
    
   
    
  }
  .card:hover {
    transform: scale(1.078);
    transition: all ease 0.8s;
  }
  
  .card-header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    
  }
  
  .card-header h3 {
    padding: 14px 18px;
  }
  
  .card-body {
    padding: 0 18px;
    color: rgb(15, 15, 151);
  }
  
  .card-footer {
    padding: 14px 18px;
  }

  @media (max-width: 768px) {
    .card {
      display: flex;
      align-items: center;
      margin-left: 30px;
    }
  }