.icon{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.icon ion-icon{
    font-size: 30px;
    padding-left: 14px;
    padding-right: 14px;
    color: rgb(255, 255, 255);
}
#footer {
    background: rgb(44, 12, 12);
    color: rgb(255, 255, 255);
    padding: 2px 0px;    
    text-align: center;
    min-height: 100px;
    margin-top: 300px;
   
}
#footer:hover {
  background: rgb(105, 77, 4);
  transition: all ease 0.4s;
  
}
.footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-weight: initial;
    font-family: sans-serif;
}
.social-links li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}