

#hero-banner {
    display: flex;
    padding: 72px 20px;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    min-height: 150vh;
}

.hero-content {
    background: url(logo.jpg) center/cover no-repeat;
}



.hero-content h1 {
    font-size: 25px;
    margin-top:150px;
    display: flex;
    margin-left: 57%;
    color:rgb(112, 26, 26) ;
    font-family: Georgia, 'Times New Roman', Times, serif; 
  
}
.hero-content p {
    font-size: 18px;
    margin-left: 60%;
    margin-top: 35px;
  
    
}
.maoni {
    margin-left: 70px;
}
.maoka{
    margin-left: 110px;
}
.gwapoka{
  margin-left:65%;
  margin-top: 80px;
  gap:50px;
  display: flex;

}
.hero-img {
    margin-left: 150px;
    margin-top: -240px;
}

.hero-img img {
    border-radius: 50px 5px 30px 5px;
    height:250px;
   
}

.back-img img {
  display: flex;
  content: "";
  position: absolute;
  top: 135px; left: 0;
  width: 100%; height: 75%;
  opacity: 0.6;
  z-index: -1;
  
}

@media only screen and (max-width: 768px) {
    .hero-img img {
        height: 150px;
        width:330px;
        position: absolute  ;
    }
    .hero-content h1 {
        font-size: 20px;
        position: absolute;
        top:50%;
    }
}