body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  padding: 0;
}

/* NAVBAR MAIN LAYOUT */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(116, 49, 49);
  padding: 5px 40px;
  height: 120px;
}

/* LEFT SIDE: LOGO + NAME */
.left-group {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar img {
  border-radius: 50%;
  height: 90px;
}

.name {
  font-size: 20px;
  color: rgb(78, 41, 41);
}

/* CENTER NAVIGATION */
.nav-links {
  display: flex;
  gap: 40px;
  flex-grow: 1;
  justify-content: center;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: rgb(78, 41, 41);
  font-size: 18px;
}

.nav-links a:hover {
  text-decoration: underline rgb(218, 165, 32);
}

/* RIGHT SIDE BUTTONS */
.maotka {
  display: flex;
  gap: 15px;
}

/* MOBILE TOGGLE */
.menu-toggle {
  display: none;
}

.menu-btn {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* MOBILE BUTTONS INSIDE MENU */
.mobile-buttons {
  display: none;
}

/* ---------------------------- */
/* MOBILE VIEW */
/* ---------------------------- */
@media only screen and (max-width: 768px) {

  /* BURGER MENU SHOW */
  .menu-btn {
    display: block;
    padding-left: 5px;
  }

  /* COLLAPSE NAV LINKS */
  .nav-links {
    display: none;
    flex-direction: column;
    background: rgb(223, 221, 221);
    width: 100%;
    position: absolute;
    top: 170px; /* below navbar */
    left: 0;
    padding: 40px;
    gap: 20px;

    /* SCROLL FIX */
    max-height: 70vh;    /* menu height */
    overflow-y: auto;    /* allow scrolling */
    z-index: 9999;
  }
  /* SHOW WHEN TOGGLED */
  .menu-toggle:checked ~ .nav-links {
    display: flex;
  }

  /* LOGO SIZE */
  .navbar img {
    height: 70px;
  }

  .name {
    font-size: 16px;
  }

  /* HIDE DESKTOP BUTTONS */
  .maotka {
    display: none;
  }

  /* SHOW MOBILE BUTTONS INSIDE DROPDOWN */
  .mobile-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .mobile-buttons button {
    width: 100%;
  }
}
