body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  padding: 0;
}


.navbar {                                                                                         
  display: flex;
  justify-content: space-between;
  align-items: center;                                                                                                      
  color: rgb(116, 49, 49);
  padding: 5px 29px; 
  font-size:20px;
  font-weight: 30;  
  height: 150px;
  margin-left: 20px;
 
  

}

.nav-links {
  display: flex;
  gap: 30px;                                    
  font-weight: 30;   
  text-align: center;                                        
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: rgb(78, 41, 41);
 
}
.nav-links a:hover {
  text-decoration: underline rgb(218, 165, 32) ;
}

.nav-links ul li {
  margin: 0 10px;
  padding: 0 10px;
}

.nav-links ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.094);
  font-size: 10px;

}
.nav-links ul li a:hover {
  color: rgb(3, 3, 3);

}

.menu-toggle {
  display: none;
}

.menu-btn {
  display: none;
  font-size: 20px;
  cursor: pointer;
}
.navbar img { 
  border-radius: 50%;
  height: 100px;
  margin-left : -20px;
}
.name{
  margin-right: 350px;
}
.maotka {
  display: flex;
  gap: 20px;                                    
  font-size:15px; 
  font-weight: 30;   
  text-align: center;
  margin-top:2px;
  margin-left: 50px;
  
}



@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;

  }

  .menu-btn {
    display: flex;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    background: rgb(223, 221, 221);
    width: 100%;
    height: 100%;
    padding: 20px;
    z-index: 2;
  }  

  .menu-toggle:checked~.nav-links {
    display: flex;
    color: #ffff;
  }
 .navbar img {
  margin-left: -40px;

  margin-top: -7px;
 }
 .name {
  margin-left: 30px;
  font-size: 15px;
  margin: 20px ;
 }
 .maotka {
  display:flex;
  gap:5px;
  margin-left: 30px;
 }
} 