
#service-1 {
  
    height: 100%;
    padding: 72px 20px;
    gap: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
     
  }
#service-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
    height: 100%;
    padding: 72px 20px;
   margin-top: -150px;
   
  }
  #service-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 32px;
    height: 100%;
    padding: 72px 20px;
   margin-top: -150px;
   
  }
  .service-heading {
    text-align: center;
  }
  
  .service-container {
    display: flex;
    align-items: center;
    gap: 38px;
  }
  
  .service-list {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  
  @media only screen and (max-width: 768px) {
    .service-list {
      flex-direction: column;
      gap: 16px;
    }
  }
