@import "cards.css";
@import "button.css";

@import "contact.css";
@import "contact.css";
@import "login.css";
@import "footer.css";
@import "service.css";
@import "about.css";
@import "abawt.css";
@import "hero-banner.css";
@import "navbar.css";





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  
